extends layout

block content
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style3.css')

  body
    .topnav
    .background

    h1 About Us
    p
    |If the user logs in as a driver, he/she has the access to both the driver and passenger features.
    |The driver features are to create a ride, view current own rides that has been created, view bids for current own rides, view past own rides.
    |The passenger features are to view all current rides, current own bids for other rides, past own bids.
    p
    |If the user logs in as a passenger, he/she only has the access to the passenger features.
    |The passenger features are to view all current rides, current own bids for other rides, past own bids.
