extends layout

block content
  h1 #{title}
  if errors
    for each in errors
      p.error #{each.msg}
  form(method='post', action='/bids/add')
    .form-group
      input(name='ride_id', type='hidden', value='#{ride_id}')
    .form-group
      label Amount:
      input(name='amount', type='text')
    input(type='submit', name='submit', value='Save')

    a(href='/rides/#{ride_id}') Back
