extends layout

block content
  h1 #{title}
  form(method='post', action='/bids/add')
    .form-group
      label Passenger:
      input(name='passenger', type='text')
    .form-group
      label Car:
      input(name='car', type='text')
    .form-group
      label Start_Time:
      input(name='start_time')
    .form-group
      label Source:
      input(name='source', type='text')
    .form-group
      label Destination:
      input(name='destination', type='text')
    .form-group
      label Amount:
      input(name='amount', type='text')
    .form-group
      label Status:
      input(name='status', type='text')
    input(type='submit', name='submit', value='Save')

    a(href='/passengers/bids') Back
