extends layout

block content
  h1 #{title}
  form(method='post', action='/rides/createRide')
    .form-group
      label Car:
      input(name='car', type='text')
    .form-group
      label Start Time:
      input(name='start_time', type='text')
    .form-group
      label Source:
      input(name='source', type='text')
    .form-group
      label Destination:
      input(name='destination', type='text')
    .form-group
      label Number of Passengers:
      input(name='number_passenger', type='text')
    input(type='submit', name='submit', value='Save')

    a(href='/passengers/rides') Back
