extends layout

block content
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style2.css')

  body
    .topnav
      a.active(href='/') Home
      a(href='/bids') View all current bids
      a(href='/bids/own_bids') View current bids for own rides
      a(href='/rides') View all current rides
      a(href='/rides/own_rides') View own current rides
      a(href='/rides/add_ride') Create ride
      a(href='/about') About
