extends layout

block content
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
      
  body
    .topnav
      a.active(href='home') Home
      a(href='login/signup') Login/Signup
      a(href='#about') About
