extends layout

block content
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style2.css')

  body
    .topnav
      a.active(href='/') Home
      a(href='/rides') View Rides Available
      a(href='/bids') View bids record
      a(href='/about') About
