extends layout

block content
  h2 Available Rides

  table(class='table table-striped')
    tr
      form(method='get', action='/passengers/rides')
        input(name='search')
        input(type='submit', name='submit', value='Search')
      th
    each ride, i in rides
      tr
        td #{ride.ride_id}
        td From #{ride.source} to #{ride.destination} at time #{ride.start_time}
